.creation-container {
  border: 1px solid red;
}

/* .creation-image img {
  display: block;
  height: 100%;
  width: 100%;
} */

.creation-image {
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: center;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .creation-image {
    height: 240px;
    width: 100%;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .creation-image {
    height: 240px;
  }
}
