.creation-container {
  border: 1px solid red;
}

.creation-image {
  background-repeat: no-repeat;

  border: 1px solid blue;
}

.creation-text {
  font-family: var(--font-family-2);
  font-weight: 300;
  color: var(--color-white);
  border: 1px solid green;
  text-shadow: 2px 2px 19px #000000, 2px 2px 19px #000000, 2px 2px 19px #000000, 2px 2px 19px #000000;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .creation-container {
    margin-top: 1rem;
  }

  .creation-text {
    width: 50%;
  }

  .creation-image {
    background-size: 100%;
    height: 125px;
    padding-left: 10px;
    padding-top: 55px;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .creation-container {
    flex: 1 0 21%;
   
  }

  .creation-image {
    height: 450px;
  }

  .creation-text {
    width: 60%;
  }

  .creation-text h1 {
  
  }
}
