.creation-container {
  border: 1px solid red;
}

.creation-card-overlay {
}

.creation-image {
  background-repeat: no-repeat;

  padding-left: 10px;
  padding-top: 55px;
}

.creation-text {
  font-family: var(--font-family-2);
  font-weight: 300;
  color: var(--color-white);
  width: 50%;
  font-size: 15px;
  text-shadow: 2px 2px 19px #000000, 2px 2px 19px #000000, 2px 2px 19px #000000, 2px 2px 19px #000000;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .creation-container {
    margin-top: 1rem;
  }

  .creation-image {
    background-size: 100%;
    height: 125px;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .creation-image {
    height: 240px;
  }
}
