.section1-container {
  margin-top: 4rem;
}

.section1-container_image {
  width: fit-content;
}

.section1-container_image img {
  display: block;
}

.section1-container_text {
  background: var(--color-white);
}

.section1-container_text h1 {
  font-family: var(--font-family-2);
  font-weight: 300;
}

.section1-container_text p {
  font-family: var(--font-family-1);
  color: var(--color-dark-gray);
  line-height: 1.5rem;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .section1-container {
    padding: 20px;
  }

  .section1-container_image img {
    height: 100%;
    width: 100%;
  }

  .section1-container_text {
    margin-top: 2rem;
    text-align: center;
  }

  .section1-container_text p {
    width: 90%;
    margin: 2rem auto;
    font-size: 15px;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .section1-container {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
  }

  .section1-container_text {
    width: 35%;
    padding: 85px;
    position: relative;
    right: 175px;
    top: 140px;
  }

  .section1-container_text h1 {
    font-size: 55px;
  }

  .section1-container_text p {
    margin-top: 1.5rem;
  }
}
