.footer-container {
  margin-top: 3rem;
  background-color: var(--color-black);
}

.footer-container_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer-container_images img {
  display: block;
  cursor: pointer;
}


.footer-container-socials span:hover {
  background-image: linear-gradient(white, white);
  background-position: bottom center; /*Adjust the background-position to move the line*/
  background-size: 40% 2px; /*Adjust the background size to control length and height*/
  background-repeat: no-repeat;
  padding-bottom: 6px; /* this can also control the position */
}

.footer-container-socials {
  display: flex;
  gap: 15px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.footer-container-menu {
  display: flex;
  width: fit-content;
  gap: 10px;
}

.footer-container-text span p {
  font-family: var(--font-family-2);
  color: var(--color-dark-gray);
}

.footer-container-text p a {
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-family-2);
}

.footer-container-text p a:hover {
  background-image: linear-gradient(white, white);
  background-position: bottom center; /*Adjust the background-position to move the line*/
  background-size: 40% 2px; /*Adjust the background size to control length and height*/
  background-repeat: no-repeat;
  padding-bottom: 7px; /* this can also control the position */
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .footer-container_images img,
  .footer-container-socials,
  .footer-container-socials img,
  .footer-container-menu {
    margin: auto;
  }

  .footer-container-menu {
    flex-direction: column;
    text-align: center;
  }

  .footer-container-menu p,
  .footer-container-text span p,
  .footer-container-socials {
    margin-top: 1rem;
  }

  .footer-container-text span p {
    text-align: center;
  }

  /* Desktop Socials visibility */
  .desktop {
    display: none;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .footer-container-text {
    padding: 20px;
  }

  .footer-container-text {
    display: flex;
    justify-content: space-between;
  }

  /* Mobile Socials visibility */
  .mobile {
    display: none;
  }
}
